<!-- Modal for the notes -->
<div class="modal fade" id="notes-modal" tabindex="-1" role="dialog" aria-labelledby="notes-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notes-modal-label"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-text-area px-3">
        <form>
          <textarea class="form-control" id="note-input" rows="5" placeholder="Enter a new note..."></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-save-note" data-article-id="">Save Note</button>
      </div>
    </div>
  </div>
</div>

{{>navbar}}

<div class="jumbotron jumbotron-fluid bg-primary text-white">
  <div class="container">
    <h1 class="display-4 main-title">Artvoice Edition</h1>
    <p class="lead">Saved Articles</p>
  </div>
</div>
<div class="container">
  {{#each articles}}
    <div id="js-{{_id}}" class="row mb-3 py-3 row-article">
      <div class="col-8 sm">
        <p class="ml-2 article-title">
          <a href="{{link}}" target="_blank" rel="noopener noreferrer">{{title}}</a>
        </p>
      </div>
      <div class="col-2 sm">
        <button type="button" class="btn btn-danger btn-sm btn-block btn-remove" data-article-id="{{_id}}">Remove</button>
      </div>
      <div class="col-2 sm">
        <button type="button" class="btn btn-info btn-sm btn-block btn-notes" data-toggle="modal" data-target="#notes-modal" data-article-name="{{title}}" data-article-id="{{_id}}">Notes</button>
      </div>
    </div>
  {{/each}}
</div>

<script src="/assets/js/saved.js"></script>
